:root {
  --main-bg: #0a172a;
  --secondary-bg: #182830; /*213843;*/
  --tertiary-bg: #122a3d; /*153349;*/
  /* --light-bg: #c7eec0; */
  --primary-text: #ede6ce;
  --secondary-text: #f0c1ad;
  --accent-col: #cb6639;
  --link-standard: #6589bd;
  --link-visited: #9165bd;
  --link-hover: #b5cbea;
  --link-hover-visited: #ccadec;
}

/* ---------- HEADER & FOOTER ---------- */
header, footer {
  background-color: var(--secondary-bg, darkcyan);
}
header {
  border-bottom: 3px solid var(--accent-col);
}
footer {
  border-top: 3px solid var(--accent-col);
  /* position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  margin: 0; */
}

/* ---------- BODY ---------- */
body {
  background-color: var(--main-bg, darkblue);
}

h1, h2, h3, h4, h5, h6, p, hr {
  color: var(--primary-text, white);
}

hr {
  color: var(--accent-col);
  opacity: 1;
}

/* LINKS */
a {
  color: var(--link-standard, blue);
}
a:hover {
  color: var(--link-hover, lightblue);
}
a:visited {
  color: var(--link-visited, purple);
}
a:visited:hover {
  color: var(--link-hover-visited, lightpink);
}

li {
  /* color: gray; */
  color: var(--primary-text, white);
}

/* ---------- CUSTOM CLASSES ---------- */
.white {
  color: white;
}

.bar {
  width: 80%;
}

.thick-hr {
  height: 4px;
  background-color: var(--accent-col);
  border: none;
  opacity: 0.65;
}

/* FORMATTING GAME BOXES */
.games-list {
  background-color: var(--tertiary-bg, darkolivegreen);
  border: 1px solid var(--accent-col, orange);
}
.game-box {
  background-color: var(--secondary-bg, darkcyan);
  border: 1px solid var(--accent-col, orange);
}
/* .game-description {
  background-color: var(--main-bg, darkblue);
} */

/* ---------- COLUMN SET ---------- */
.two-column-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.three-column-list {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.four-column-list {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}

.five-column-list {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
}

.six-column-list {
  columns: 6;
  -webkit-columns: 6;
  -moz-columns: 6;
}

.seven-column-list {
  columns: 7;
  -webkit-columns: 7;
  -moz-columns: 7;
}

.eight-column-list {
  columns: 8;
  -webkit-columns: 8;
  -moz-columns: 8;
}

.twelve-column-list {
  columns: 12;
  -webkit-columns: 12;
  -moz-columns: 12;
}