:root {
  --main-bg: #0a172a;
  --secondary-bg: #182830; /*213843;*/
  --tertiary-bg: #122a3d; /*153349;*/
  /* --light-bg: #c7eec0; */
  --primary-text: #ede6ce;
  --secondary-text: #f0c1ad;
  --accent-col: #cb6639;
  --link-standard: #35A387;
  --link-visited: #35A387;
  --link-hover: #cb653a;
  --link-hover-visited: #dbc58f;
  /* realtime colors */
  --text: #f6e6b5;
  --text2: #e3dfd1;
  --text_dark: #061428;
  --background: #030a14;
  --background-light: #06152b;
  --primary: #dbc58f;
  --secondary: #29806a;
  --secondary_light: #65d4b9;
  --secondary_dark: #0C2A22;
  --secondary2: #284479;
  --accent: #cb653a;
  --accent_light: #f4946a;
}

/* ---------- HEADER & FOOTER ---------- */
header, footer {
  background-color: var(--background-light, darkcyan);
}
header {
  border-bottom: 3px solid var(--accent);
}
footer {
  border-top: 3px solid var(--accent);
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20rem;
  /*width: 100%;
  padding: 10px 0;
  margin: 0; */
}

/* ---------- BODY ---------- */
body {
  background-color: var(--background, darkblue);
}

h1, h2, hr {
  color: var(--secondary_light, white);
}

p, h3, h4, h5, h6 {
  color: var(--text, white);
}
hr {
  color: var(--accent);
  opacity: 1;
}

/* LINKS */
a {
  color: var(--link-standard, blue);
}
a:hover {
  color: var(--link-hover, lightblue);
}
a:visited {
  color: var(--link-visited, purple);
}
a:visited:hover {
  color: var(--link-hover-visited, lightpink);
}

li {
  /* color: gray; */
  color: var(--text2, white);
}

/* ---------- CUSTOM CLASSES ---------- */
.tag-link {
  display: inline-flex; /* Use flexbox */
  align-items: center; /* Vertically center */
  justify-content: center; 
  padding-left: 12px;
  padding-right: 12px;
  text-decoration: none;
  border: none;
  text-align: center;
  font-weight: bold;
  line-height: 22px;

  /* width: 135px; */
  height: 35px;
  border-radius: 10px;
  color: var(--text_dark, darkblue);
  background-color: var(--primary, gold);
  transition: all 0.1s ease-in-out;
}
.tag-link:hover {
  background-color: var(--secondary_light, teal);
  transform: scale(1.1);
}
.tag-link:visited, .tag-link:visited:hover {
  color: var(--text_dark, darkblue);
}
.tag-link:focus {
  outline: 2px solid var(--accent_light);
  outline-offset: 2px;
}

.category-button {
  display: inline-flex; /* Use flexbox */
  align-items: center; /* Vertically center */
  justify-content: center; 
  padding: 10px;
  text-decoration: none;
  border: none;
  text-align: center;
  font-weight: bold;
  line-height: 22px;

  width: 135px;
  height: 55px;
  border-radius: 10px;
  margin-top: 5px;
  color: var(--text_dark, darkblue);
  background-color: var(--primary, gold);
  transition: all 0.1s ease-in-out;
}
.category-button:hover {
  background-color: var(--secondary_light, teal);
  transform: scale(1.1);
}
.category-button:visited, .category-button:visited:hover {
  color: var(--text_dark, darkblue);
}
.category-button:focus {
  outline: 2px solid var(--accent_light);
  outline-offset: 2px;
}

.white {
  color: white;
}

.bar {
  width: 80%;
}

.thick-hr {
  height: 4px;
  background-color: var(--accent);
  border: none;
  opacity: 0.65;
}

.back-top{
  color: var(--accent_light, orange) !important;
}
.back-top:hover {
  color: var(--text, orange) !important;
}
.back-top:visited {
  color: var(--accent_light, orange) !important;
}
.back-top:visited:hover {
  color: var(--textr, orange) !important;
}

/* CATEGORIES PAGE */
.category-table {
  width: 100%;
  text-align: center;
  /* border: 1px solid white; */
}
.category-links {
  /* text-align: center; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 40px;
  /* align-content: space-around; */
}
/* .category-links a{
  flex-basis: 20%;
} */
/* .category-table tr{
  border: 1px solid white;
}
.category-table td{
  border: 1px solid white;
} */

/* FORMATTING GAME BOXES */
.games-list {
  background-color: var(--background-light, darkolivegreen);
  border: 1px solid var(--accent, orange);
  border-radius: 15px;
}
.game-box {
  background-color: var(--background-light, darkcyan);
  border: 1px solid var(--accent, orange);
  border-radius: 15px;
}
/* .game-description {
  background-color: var(--main-bg, darkblue);
} */

/* ---------- COLUMN SET ---------- */
.two-column-list {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.three-column-list {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}

.four-column-list {
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
}

.five-column-list {
  columns: 5;
  -webkit-columns: 5;
  -moz-columns: 5;
}

.six-column-list {
  columns: 6;
  -webkit-columns: 6;
  -moz-columns: 6;
}

.seven-column-list {
  columns: 7;
  -webkit-columns: 7;
  -moz-columns: 7;
}

.eight-column-list {
  columns: 8;
  -webkit-columns: 8;
  -moz-columns: 8;
}

.ten-column-list {
  columns: 10;
  -webkit-columns: 10;
  -moz-columns: 10;
}

.twelve-column-list {
  columns: 12;
  -webkit-columns: 12;
  -moz-columns: 12;
}